.container {
  padding: 25px;
  border: 1px solid #ddd;
}

.loadForm {
  display: flex;
  justify-content: center;
  align-items: start;
}

.loadForm button {
  margin-left: 10px;
}

.addForm {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

button .btn-danger {
  margin-left: 8px;
}