
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <form [formGroup]="loadForm" (ngSubmit)="onLoad(loadForm)" class="loadForm">
        <div class="field-container form-group">
          <mat-form-field appearance="legacy">
          <input matInput type="date" class="form-control rounded-0"
              formControlName="select_date" placeholder="Select Date">
          </mat-form-field>
        </div>

        <button type="submit" class="btn btn-danger">Load</button>
      </form> <hr>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 mt-5">
      <form [formGroup]="addForm" (ngSubmit)="onAdd(addForm)" class="addForm">
        <div class="field-container form-group" style="display:none;">
            <mat-form-field appearance="legacy">
            <input id="data-id" matInput type="text" class="form-control rounded-0" 
                formControlName="id">
            </mat-form-field>
        </div>
        <div class="field-container form-group">
            <mat-form-field appearance="legacy">
            <input matInput type="text" class="form-control rounded-0" 
                formControlName="start_time" placeholder="Start Time">
            </mat-form-field>
        </div>
        <div class="field-container form-group">
            <mat-form-field appearance="legacy">
            <input matInput type="text" class="form-control rounded-0" 
                formControlName="end_time" placeholder="End Time">
            </mat-form-field>
        </div>
        <div class="field-container form-group">
            <mat-form-field appearance="legacy">
            <input matInput type="text" class="form-control rounded-0" 
                formControlName="description" placeholder="Task Description">
            </mat-form-field>
        </div>
        <button type="submit" class="btn btn-danger" id="add_btn">Add</button>
      </form> <hr>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="table-responsive mt-3">
        <table class="table table-bordered bg-white">
            <thead>
                <tr>
                  <th scope="col" class="font-weight-bold">Start Time</th>
                  <th scope="col" class="font-weight-bold">End Time</th>
                  <th scope="col" class="font-weight-bold">Minutes</th>
                  <th scope="col" class="font-weight-bold">Task Description</th>
                  <th scope="col" class="font-weight-bold"></th>
                </tr>
            </thead>
            <tbody *ngFor="let item of data">
                <tr>
                    <td>{{item.start_time}}</td>
                    <td>{{item.end_time}}</td>
                    <td>{{item.minutes}}</td>
                    <td>{{item.description}}</td>
                    <td>
                      <a (click)="onEdit(item.id)" class="btn btn-outline-primary mr-2">Edit</a>
                      <a (click)="onDelete(item.id)" class="btn btn-outline-primary">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
